# Server Config
PORT=3000
NODE_ENV=development

# Database Config (PostgreSQL/Supabase)
DATABASE_URL="postgresql://user:password@host:port/db_name?schema=public"
DIRECT_URL="postgresql://user:password@host:port/db_name?schema=public"

# Auth Config
JWT_SECRET="your_super_secret_jwt_key_here"

# Frontend Config (For CORS)
# در محیط دولوپمنت معمولاً لوکال‌هاست است
FRONTEND_URL="http://localhost:8081"